<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
      <servlet-name>adminController</servlet-name>
      <servlet-class>com.tunedtrader.admin.adminController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.tunedtrader.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>SellServlet</servlet-name>
      <servlet-class>com.tunedtrader.search.SellServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Access</servlet-name>
      <servlet-class>com.tunedtrader.login.Access</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Upload</servlet-name>
      <servlet-class>com.tunedtrader.upload.Upload</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>batchUpload</servlet-name>
      <servlet-class>com.tunedtrader.upload.batchUpload</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Serve</servlet-name>
      <servlet-class>com.tunedtrader.upload.Serve</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>VehiclePage</servlet-name>
      <servlet-class>com.tunedtrader.search.results.VehiclePage</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>betaRegistration</servlet-name>
      <servlet-class>com.tunedtrader.login.betaRegistration</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>modelController</servlet-name>
      <servlet-class>com.tunedtrader.vehicle.modelController</servlet-class>
  </servlet>
   <servlet>
      <servlet-name>browseController</servlet-name>
      <servlet-class>com.tunedtrader.search.browse.browseController</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>resultInfoController</servlet-name>
      <servlet-class>com.tunedtrader.search.results.resultInfoController</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>yearController</servlet-name>
      <servlet-class>com.tunedtrader.vehicle.yearController</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>makeController</servlet-name>
      <servlet-class>com.tunedtrader.vehicle.makeController</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>adminUpload</servlet-name>
      <servlet-class>com.tunedtrader.admin.adminUpload</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>adminDelete</servlet-name>
      <servlet-class>com.tunedtrader.admin.adminDelete</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>verify</servlet-name>
      <servlet-class>com.tunedtrader.emailService.verify</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>sendFeedback</servlet-name>
      <servlet-class>com.tunedtrader.login.submitFeedback</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>checkCreateSession</servlet-name>
      <servlet-class>com.tunedtrader.login.checkCreateSession</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>getUploadUrl</servlet-name>
      <servlet-class>com.tunedtrader.upload.getUploadUrl</servlet-class>
  </servlet>
  
 <!-- Servlet mappings -->
  <servlet-mapping>
      <servlet-name>adminDelete</servlet-name>
      <url-pattern>/adminDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>getUploadUrl</servlet-name>
      <url-pattern>/getUploadUrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>checkCreateSession</servlet-name>
      <url-pattern>/checkCreateSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>sendFeedback</servlet-name>
      <url-pattern>/sendFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>verify</servlet-name>
      <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>adminUpload</servlet-name>
      <url-pattern>/adminUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>batchUpload</servlet-name>
      <url-pattern>/batchUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>makeController</servlet-name>
      <url-pattern>/makeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>yearController</servlet-name>
      <url-pattern>/yearController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>adminController</servlet-name>
      <url-pattern>/adminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>resultInfoController</servlet-name>
      <url-pattern>/resultInfoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>browseController</servlet-name>
      <url-pattern>/browseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>modelController</servlet-name>
      <url-pattern>/modelController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>betaRegistration</servlet-name>
    <url-pattern>/beta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/tunedtrader/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>SellServlet</servlet-name>
      <url-pattern>/SellServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Access</servlet-name>
      <url-pattern>/Access</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Upload</servlet-name>
      <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Serve</servlet-name>
      <url-pattern>/serve</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
      <servlet-name>VehiclePage</servlet-name>
      <url-pattern>/VehiclePage</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>

</web-app>
